@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "montserrat", sans-serif;
}

:root {
    --accent-color-1: #C92024;
    --accent-color-2: #860002;
}

a {
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--accent-color-1);
}

b {
    color: var(--accent-color-1);
}

::selection {
    background: var(--accent-color-2);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 200svh;
}

.backgrounds {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100svh;
    z-index: -1;
    pointer-events: none;
}

.backgrounds img {
    width: 1920px;
    height: auto;
    object-fit: cover;
    display: block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.backgrounds__image-01 {
    height: 110svh !important;
}

.backgrounds__image-02-cut {
    position: relative !important;
    top: -70px;
}

.backgrounds__image-02--inverted {
    position: relative;
    top: -70px;
    transform: scaleY(-1);
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 20px 150px;
    box-shadow: 0 0 15px 1px rgba(131, 131, 131, 0.377);
    background-color: rgba(97, 97, 97, 0.25);
    backdrop-filter: blur(30px);
}

.header__logo {
    width: 150px;
    height: auto;
}

.header__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__links a {
    text-decoration: none;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.welcome-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-card__logo {
    width: 500px;
    height: auto;
    margin: 250px 0 30px 0;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.welcome-card__title {
    font-size: 1.5rem;
}

